# Server Configuration
PORT=3000

# Database Configuration
DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/DB

# Mercado Pago Configuration
MP_PUBLIC_KEY=pk_xxx
MP_ACCESS_TOKEN=APP_USR-xxx

# Environment
NODE_ENV=development
